<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#009578">
        <title>PWA</title>
        <link rel="stylesheet" href="/css/recorder.css" >
        <link rel="manifest" href="manifest.json" >
        <link rel="apple-touch-icon" href="/images/logo192.png" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="/images/logo192.png" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form>
                        <div class="d-flex justify-content-center mt-2 login_container">
                          <button id="btnStart" type="button" name="button" class="btn login_btn">Start Recording <i class="fa fa-microphone" style="width: 20px;"></i></button>
                        </div>
                        <br/>
                        <div class="d-flex justify-content-center mt-2 login_container">
                        <button  id="btnStop" type="button" name="button" class="btn login_btn">Stop Recording <i class="fa fa-microphone-slash" style="width: 20px;"></i></button>
                       </div>
                       <br/>
                       <div class="d-flex justify-content-center mt-2 login_container">
                        <video id="vid2" controls></video>
                      </div>
                        </form>
                    </div>
            
                </div>
            </div>
        </div>
        <script src="/js/recorder.js"></script>
    </body>
</html>